.skip-link{

        position: absolute;
          left: -9999px;
          width: 2px;
          height: 2px; 
        text-align: center;
        line-height: 2em;
        background-color: blue;
        color: #ffffff;
    
   
}

.skip-link:focus {
    display: inline-block;
    width: 125px;
  height: auto;
    position: static;
}

